body {
    margin: 0;
    background-image: url(images/hand-painted-watercolor-pastel-sky-background_23-2148902771.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#under-line {
    height: 2px;
    width: 60px;
    background-color: pink;
    position: absolute;
    left: 0px;
    top: 52px;
    padding: 0px;
    transition: 0.5s;
}

.task-area {
    border: 1px solid lightgray;
}

.task-tabs {
    display: flex;
    position: relative;
    border-bottom: 1px solid lightgray;
}

.task-tabs div {
    padding: 1em;
}

.task-list {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid lightgray;
}

.task-done {
    text-decoration: line-through;
}